<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prestamo">
            <h2><span jhiTranslate="prestamosApp.prestamo.detail.title">Prestamo</span> {{prestamo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestamosApp.prestamo.nroPrestamo">Nro Prestamo</span></dt>
                <dd>
                    <span>{{prestamo.nroPrestamo}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.prestamo.valor">Valor</span></dt>
                <dd>
                    <span>{{prestamo.valor}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.prestamo.cuotasQty">Cuotas Qty</span></dt>
                <dd>
                    <span>{{prestamo.cuotasQty}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.prestamo.dateAuthorization">Date Authorization</span></dt>
                <dd>
                    <span>{{prestamo.dateAuthorization}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.prestamo.dateDelivered">Date Delivered</span></dt>
                <dd>
                    <span>{{prestamo.dateDelivered}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.prestamo.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{prestamo.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.prestamo.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{prestamo.lastUpdatedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prestamo', prestamo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
