<div>
    <h2 id="page-heading">
        <span jhiTranslate="prestamosApp.prestamo.home.title">Prestamos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prestamo" [routerLink]="['/prestamo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prestamosApp.prestamo.home.createLabel">
            Create a new Prestamo
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="prestamos?.length === 0">
        <span jhiTranslate="prestamosApp.prestamo.home.notFound">No prestamos found</span>
    </div>
    <div class="table-responsive" *ngIf="prestamos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nroPrestamo"><span jhiTranslate="prestamosApp.prestamo.nroPrestamo">Nro Prestamo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="prestamosApp.prestamo.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cuotasQty"><span jhiTranslate="prestamosApp.prestamo.cuotasQty">Cuotas Qty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateAuthorization"><span jhiTranslate="prestamosApp.prestamo.dateAuthorization">Date Authorization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateDelivered"><span jhiTranslate="prestamosApp.prestamo.dateDelivered">Date Delivered</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="prestamosApp.prestamo.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="prestamosApp.prestamo.lastUpdatedDate">Last Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let prestamo of prestamos ;trackBy: trackId">
                <td><a [routerLink]="['/prestamo', prestamo.id, 'view' ]">{{prestamo.id}}</a></td>
                <td>{{prestamo.nroPrestamo}}</td>
                <td>{{prestamo.valor}}</td>
                <td>{{prestamo.cuotasQty}}</td>
                <td>{{prestamo.dateAuthorization | date:'mediumDate'}}</td>
                <td>{{prestamo.dateDelivered | date:'mediumDate'}}</td>
                <td>{{prestamo.creationDate | date:'mediumDate'}}</td>
                <td>{{prestamo.lastUpdatedDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prestamo', prestamo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prestamo', prestamo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(prestamo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
