<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-prestamo-heading" jhiTranslate="prestamosApp.prestamo.home.createOrEditLabel">Create or edit a Prestamo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.prestamo.nroPrestamo" for="field_nroPrestamo">Nro Prestamo</label>
                    <input type="number" class="form-control" name="nroPrestamo" id="field_nroPrestamo"
                           formControlName="nroPrestamo"/>
                    <div *ngIf="editForm.get('nroPrestamo')!.invalid && (editForm.get('nroPrestamo')!.dirty || editForm.get('nroPrestamo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nroPrestamo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nroPrestamo')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.prestamo.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                    <div *ngIf="editForm.get('valor')!.invalid && (editForm.get('valor')!.dirty || editForm.get('valor')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valor')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.prestamo.cuotasQty" for="field_cuotasQty">Cuotas Qty</label>
                    <input type="number" class="form-control" name="cuotasQty" id="field_cuotasQty"
                           formControlName="cuotasQty"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.prestamo.dateAuthorization" for="field_dateAuthorization">Date Authorization</label>
                    <div class="input-group">
                        <input id="field_dateAuthorization" type="text" class="form-control" name="dateAuthorization" ngbDatepicker  #dateAuthorizationDp="ngbDatepicker" formControlName="dateAuthorization"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateAuthorizationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.prestamo.dateDelivered" for="field_dateDelivered">Date Delivered</label>
                    <div class="input-group">
                        <input id="field_dateDelivered" type="text" class="form-control" name="dateDelivered" ngbDatepicker  #dateDeliveredDp="ngbDatepicker" formControlName="dateDelivered"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDeliveredDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.prestamo.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" formControlName="creationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.prestamo.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="input-group">
                        <input id="field_lastUpdatedDate" type="text" class="form-control" name="lastUpdatedDate" ngbDatepicker  #lastUpdatedDateDp="ngbDatepicker" formControlName="lastUpdatedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
