<div>
    <h2 id="page-heading">
        <span jhiTranslate="prestamosApp.solicitante.home.title">Solicitantes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-solicitante" [routerLink]="['/solicitante/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prestamosApp.solicitante.home.createLabel">
            Create a new Solicitante
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="solicitantes?.length === 0">
        <span jhiTranslate="prestamosApp.solicitante.home.notFound">No solicitantes found</span>
    </div>
    <div class="table-responsive" *ngIf="solicitantes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="prestamosApp.solicitante.dni">Dni</span></th>
            <th scope="col" ><span jhiTranslate="prestamosApp.solicitante.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="prestamosApp.solicitante.lastName">Last Name</span></th>
            <th scope="col" ><span jhiTranslate="prestamosApp.solicitante.telHome">Tel Home</span></th>
            <th scope="col" ><span jhiTranslate="prestamosApp.solicitante.telMovile">Tel Movile</span></th>
            <th scope="col" ><span jhiTranslate="prestamosApp.solicitante.prestamos">Prestamos</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let solicitante of solicitantes ;trackBy: trackId">
                <td><a [routerLink]="['/solicitante', solicitante.id, 'view' ]">{{solicitante.id}}</a></td>
                <td>{{solicitante.dni}}</td>
                <td>{{solicitante.name}}</td>
                <td>{{solicitante.lastName}}</td>
                <td>{{solicitante.telHome}}</td>
                <td>{{solicitante.telMovile}}</td>
                <td>
                    <div *ngIf="solicitante.prestamos">
                        <a [routerLink]="['/prestamo', solicitante.prestamos?.id, 'view' ]" >{{solicitante.prestamos?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/solicitante', solicitante.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/solicitante', solicitante.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(solicitante)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
