<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-solicitante-heading" jhiTranslate="prestamosApp.solicitante.home.createOrEditLabel">Create or edit a Solicitante</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.solicitante.dni" for="field_dni">Dni</label>
                    <input type="text" class="form-control" name="dni" id="field_dni"
                           formControlName="dni"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.solicitante.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.solicitante.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.solicitante.telHome" for="field_telHome">Tel Home</label>
                    <input type="text" class="form-control" name="telHome" id="field_telHome"
                           formControlName="telHome"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.solicitante.telMovile" for="field_telMovile">Tel Movile</label>
                    <input type="text" class="form-control" name="telMovile" id="field_telMovile"
                           formControlName="telMovile"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestamosApp.solicitante.prestamos" for="field_prestamos">Prestamos</label>
                    <select class="form-control" id="field_prestamos" name="prestamos" formControlName="prestamos">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="prestamoOption.id === editForm.get('prestamos')!.value?.id ? editForm.get('prestamos')!.value : prestamoOption" *ngFor="let prestamoOption of prestamos; trackBy: trackById">{{prestamoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
