<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="solicitante">
            <h2><span jhiTranslate="prestamosApp.solicitante.detail.title">Solicitante</span> {{solicitante.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestamosApp.solicitante.dni">Dni</span></dt>
                <dd>
                    <span>{{solicitante.dni}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.solicitante.name">Name</span></dt>
                <dd>
                    <span>{{solicitante.name}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.solicitante.lastName">Last Name</span></dt>
                <dd>
                    <span>{{solicitante.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.solicitante.telHome">Tel Home</span></dt>
                <dd>
                    <span>{{solicitante.telHome}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.solicitante.telMovile">Tel Movile</span></dt>
                <dd>
                    <span>{{solicitante.telMovile}}</span>
                </dd>
                <dt><span jhiTranslate="prestamosApp.solicitante.prestamos">Prestamos</span></dt>
                <dd>
                    <div *ngIf="solicitante.prestamos">
                        <a [routerLink]="['/prestamo', solicitante.prestamos?.id, 'view']">{{solicitante.prestamos?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/solicitante', solicitante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
